* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url("https://st2.depositphotos.com/4584623/7092/i/600/depositphotos_70923621-stock-photo-artist-brushes-and-paints.jpg");
    background-color: rgb(253, 250, 250);
    width: 100%;
    height: auto;
    background-repeat: no-repeat;
    background-size: cover;
}


#header {
    align-self: auto;
}

h1 {
    color: rgb(246, 190, 50);
    position:relative;
    font-size: x-large;
    z-index: 1;
    padding-left: 198px;
    padding-top: 15px;
    text-align: center;
}

p {
    color: rgb(129, 124, 124);
    font-size: larger;
}

p1 {
    color:transparent;
    font-size:2vh;
    font-family:American Typewriter, serif	;
    left: 900px;
    top: 690px;
    position: relative;
    animation-duration: 20s;
    animation-name: example2;
    animation-iteration-count: infinite;
}@keyframes example2 {
    0%   {color: green;}
    25%  {color: blue;}
    50%  {color: rgb(234, 208, 9);}
    100% {color:rgb(244, 142, 142);}
    75% {color:transparent;}
  }

p2 {
    color: rgb(103, 103, 200);
    font-size: xx-large;
    left: 1070px;
    top: 530px;
    position: relative;

}

form {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: transparent;
    width: 300px;
    height: 300px;
    margin: 20px;
    justify-content: space-evenly;
    left: 1360px;
    top: 560px;
    position: relative;
}

#center {
    background-color: #dddddd;
    margin: auto;
    width: 100%;
}

#username {
    border: none;
    outline: none;
    border-bottom: 1px solid black;
    background-color: transparent;
    color: inherit;
    width: 240px;
}

#password {
    border: none;
    outline: none;
    border-bottom: 1px solid black;
    background-color: transparent;
    color: inherit;
    width: 240px;
}



ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: whitesmoke;
   

}

li {
    float: right;
}

li a {
    display: block;
    color: rgb(6, 6, 6);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: rgb(243, 224, 103);
}

.active {
    background-color: #71e5f0;
}



.btn {
    border: 2px solid black;
    background-color: white;
    color: black;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
}

/* Green */
.success {
    border-color: #08f09b;
    color: green;
}

.success:hover {
    background-color: #08eb98;
    color: white;
}

.logo {
    mix-blend-mode: multiply;
    margin-left:210%;
    position: relative;
    width: 105px;
    height: 55px;
    
}
footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color:whitesmoke;
    color: rgb(6, 6, 6);
    text-align: right;
}
.menu-icon{
    width: 35px;
  height: 5px;
  background-color: black;
  margin-top: 10px ;
  margin-left: 15px;
}
#nav-bar {
    text-align: right;
    text-align: center;
    background-color: whitesmoke;
    width: 100%;
    display: inline-block;
}
.navlink {
    width: auto;
    margin-right: 7%;
    display: inline;
    color: #030303;
    font-size: 19px;
    font-weight: 500;
   
}
.new_div{
    float: left;
  }

  #error{
      color: red;
  }