* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url("https://i.pinimg.com/originals/a0/6c/8f/a06c8f0c6eaabb436072e06831b4c601.jpg");
    background-color: rgb(253, 250, 250);
    width: 100%;
    height: auto;
    background-repeat: no-repeat;
    background-size: cover;
}


.checkbox {

    position: relative;
    left: 760px;
    top: 380px;
    flex-direction: row;
    display: inline-flex;
    margin: 10px;

    color: black;
}


.keys {
    color: rgb(236, 178, 158);
    font-size: large;
    text-align: center;
}



.table2 th,
.table2 td {
    border: 1px solid #ddd;
    padding: 8px;

}

.table2 tr:hover {
    background-color: whitesmoke;
}


.table2 tr:nth-child(even) {
    background-color: #f2f2f2;
}

.table2 {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: separate;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 280px;
    margin-left: 440px;

}

.table2 th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #325b6c;
    color: white;
}

.table2 tr {
    padding-top: 12px;
    padding-bottom: 12px;
}

.table1 th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: rgb(236, 178, 158);
    color: white;
}

.table0 {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: separate;
    position: relative;
    margin-left: 40px;
}

.table1 {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: separate;
    width: 25%;
    margin-left: 1190px;
    top: 210px;
    position: relative;
}

.table1 tr:nth-child(even) {
    background-color: #f2f2f2;
}

.table1 tr:hover {
    background-color: #ddd;
}

.table1 th,
.table1 td {
    border: 1px solid #ddd;
    padding: 8px;

}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: whitesmoke;
   

}

li {
    float: right;
}

li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: rgb(242, 232, 166);
}

.active {
    background-color: #bbeef2;
}

aside {

    background-color: rgb(248, 239, 239);
    width: 300px;
    border: 15px solid rgb(146, 170, 174);
    padding: 50px;
    margin-left: 1390px;
    bottom: 580px;
    position: relative;

}

#comments {
    border: none;
    outline: none;
    background-color: transparent;
    color: inherit;
    font-size: large;
}

.logo {
    mix-blend-mode: multiply;
    margin-left: 210%;
    position: relative;
    width: 105px;
    height: 55px;
    
}


h1 {
    color: rgb(246, 190, 50);
    position: absolute;
    bottom: 1318px;
    left: 300px;
    z-index: 1;
}

.box1 {
    background-color: white;
    border: 5px solid rgb(236, 178, 158);
    width: 340px;
    height: 100px;
    top: 390px;
    left: 800px;
    position: relative;
}

#intro {
    color: #325b6c;
    font-size: large;
    text-align: center;
    padding-top: 24px;
}

.student-list {
    position: relative;
    top: 200px;
    left: 740px;
    font-size: medium;
    color: darkcyan;
    font-size: large;
    display: inline;
    margin-left: 20px;
  font-size: larger;
    
   
}



.bottom-buttons {
    position: relative;
   bottom: 1100px;
    left: 2300px;
    display: inline;
    padding: 10px;
    background-color: white;
    color: black;
    border: 2px solid #325b6c;
    transition: transform .2s;
    width: 100px;
    padding: 10px;
    margin-right: 20px;
    
}

.bottom-buttons:hover {
    background-color:rgb(236, 178, 158);
}

.bottom-buttons:hover {
    transform: scale(1.5);
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color:whitesmoke;
    color: rgb(6, 6, 6);
    text-align: right;
}
.table0{
    color: darkcyan;
    font-size: large;
    display: inline;

}
.menu-icon{
    width: 35px;
  height: 5px;
  background-color: black;
  margin-top: 10px ;
  margin-left: 15px;
 
 
}
#nav-bar {
    text-align: right;
    background-color: whitesmoke;
    width: 100%;
    display: inline-block;
}
.navlink {
    width: auto;
    margin-right: 7%;
    display: inline;
    color: #030303;
    font-size: 19px;
    font-weight: 500;
}
.new_div{
    float: left;
  }
